.marketplace-provider {
  background-color: #121520;
}
.container {
  width: 1576px;
  margin: 0 auto;
}
.main-banner {
  /* width:1576px ; */
  margin-top: 75px;
  position: relative;
}
.main-banner-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.user-image {
  position: absolute;
  top: 378px;
  left: 96px;
  width: 157px;
  height: 157px;
}
.profile-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 5px solid white;
}
.title-content {
  margin-top: 95px;
}

.title-content ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.buyer-provider {
  position: relative;
  display: flex;
  align-items: center;
}
.custom-control-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0
}
.custom-control-label {
  position: relative;
    margin-bottom: 0;
    vertical-align: top;
}
.buyer-provider p {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
}
.buyer-provider label {
  margin: 0 10px;
}
.buyer-provider span {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #1e92fe;
}
.title-content li {
  margin-left: 30px;
}
.title-content a {
  padding: 10px 82px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  background-color: #1e92fe;
  border-radius: 5px;
  text-decoration: none;
}
.content-title,
.content-main {
  margin-left: 88px;
}
.content-main {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.content-title h1 {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  margin: 0;
}
.content-nav ul {
  list-style: none;
  display: flex;
}
.content-nav ul li {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 42px;
  color: #ffffff;
  padding-right: 23px;
}
.content-nav a {
  text-decoration: none;
  color: white;
}
#item2,
#item3 {
  padding-left: 23px;
}
#item2 {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
#item1,
.content-nav a {
  cursor: pointer;
  color: #1e92fe;
}
.content-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grade {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grade p {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 42px;
  text-align: right;
  color: #ffffff;
  padding-left: 10px;
}
.content-main-card {
  background: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14221);
  border-radius: 7px;
}
.card-one {
  width: 883px;
  margin-bottom: 30px;
}
.card-one .card-header {
  border-bottom: 2px solid #e8ecf4;
}
.first-column {
  margin-right: 30px;
}
.card-two {
  width: 883px;
  margin-bottom: 30px;
}
.card-three,
.card-four,
.card-five {
  width: 574px;
  margin-bottom: 30px;
}
.card-header {
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.card-header h1 {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 42px;
  color: #00193f;
  padding: 15px 0;
}
.card-content {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #202631;
  padding-bottom: 10px;
}
.card-content p {
  padding: 0 30px;
}
.card-content-item {
  border-top: 2px solid #e8ecf4;
  padding-left: 30px;
  padding-top: 25px;
}
.reviews-user-image {
  background: #d8d8d8;
  border-radius: 5px;
  width: 77px;
  height: 77px;
  margin-right: 10px;
}
.card-item-username-grade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 78px;
}
.card-item-username-grade h1 {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 42px;
  color: #00193f;
  margin: 0;
}
.card-item-username-grade svg {
  margin-right: 6px;
}
.none-active {
  fill: white;
}
.active {
  fill: #FABA58;
}
.card-item-top {
  display: flex;
  flex-direction: row;
}
.last-visit {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 10px;
}
.last-visit h4 {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: right;
  color: #1e92fe;
}
.card-item-bottom p {
  padding: 0;
}
.card-footer {
  text-align: center;
  padding: 10px 0;
  border-top: 2px solid #e8ecf4;
}
.card-footer a {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  color: #1e92fe;
  text-decoration: none;
}
.btn-play {
  background-color: #1E92FE;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-play img {
  margin-left: 8px;
}
.btn-play-title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 42px;
  color: #00193f;
}
.col2 {
  padding-top: 22px;
  padding-bottom: 22px;
}
.btn-small{
  background-color: #1E92FE;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-small img {
  margin-left: 5px;
}
.music-list {
  display: flex;
  margin-bottom: 20px;
}
.select-provided {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px ;
  padding-bottom: 8px ;
}
.select-provided h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 42px;
}
.select-provided a {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 42px;
  text-align: right;
  padding-right: 30px;
  color: #1e92fe;
  text-decoration: none;
}
.card-five p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}
.terms p {
  padding: 15px 35px 25px 35px;
  margin: 0;
}
.card-five .card-content-item {
  padding: 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}